@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  /* 온보딩, 게시판 선택시 사용되는 컴포넌트 스타일 */
  .title-lg {
    @apply text-h1 leading-[1.5] tracking-[-0.015em] font-bold font-pretendard
  }
  .title-md {
    @apply text-h2 leading-[1.5] tracking-[-0.015em] font-bold font-pretendard
  }
  .subtitle-lg {
    @apply text-h3 leading-[1.5] tracking-[-0.015em] font-semibold font-pretendard
  }
  .subtitle-md {
    @apply text-h4 leading-[1.5] tracking-[-0.015em] font-semibold font-pretendard
  }
  .subtitle-sm {
    @apply text-h5 leading-[1.5] tracking-[-0.015em] font-semibold font-pretendard
  }
  .body-md {
    @apply text-h4 leading-[1.5] tracking-[-0.015em] font-normal font-pretendard
  }
  .body-sm {
    @apply text-h5 leading-[1.5] tracking-[-0.015em] font-normal font-pretendard
  }
  .button-md {
    @apply text-h5 leading-[1.5] tracking-[-0.015em] font-medium font-pretendard 
  }
  .small {
    @apply text-h6 leading-[1.5] tracking-[-0.015em] font-normal font-pretendard
  }
  .badge-md {
    @apply text-h5 leading-[1.5] tracking-[-0.015em] font-semibold font-pretendard
  }
  .badge-sm {
    @apply text-h6 leading-[1.5] tracking-[-0.015em] font-medium font-pretendard
  }
}

@layer components {
  /* 버튼 컴포넌트 스타일 */
  .bg-main-button {
    @apply py-[16.5px] rounded-[16px] bg-main button-md text-white
  }
  .bg-gray1-button {
    @apply py-3 px-6 rounded-[16px] bg-gray1 border border-gray2 button-md
  }
  .bg-gray2-button {
    @apply py-[16.5px] rounded-[16px] bg-gray2 button-md text-gray5
  }
  .border-gray2-button {
    @apply py-[7.5px] px-4 rounded-[12px] bg-white button-md text-gray5 border border-gray2
  }
  .border-gray3-button {
    @apply py-[16.5px] px-4 rounded-[12px] bg-white button-md text-gray4 border border-gray3
  }
  .border-gray4-button {
    @apply py-[19.5px] rounded-[16px] bg-white button-md text-gray5 border border-gray4
  }
  .border-gray5-button {
    @apply py-[8px] rounded-[12px] bg-white text-gray5 border-[1px] border-gray5 
  }
  .border-main-bg-lightMain-button {
    @apply py-[8px] rounded-[12px] bg-main-light text-main border-[1px] border-main button-md
  }
  .border-main-bg-white-button {
    @apply py-[8px] rounded-[12px] bg-white  border-[1px] border-main button-md shadow-sm
  }
}

@layer components {
  /* 태그 컴포넌트 스타일 */
  .bg-mainLight-tag {
    @apply bg-main-light text-main
  }
  .border-gray2-tag {
    @apply border border-gray2 text-gray4
  }
  .bg-error-light-tag {
    @apply bg-error-light text-error
  }
  .bg-gray2-tag {
    @apply bg-gray2 text-gray4
  }
  .border-sub1-tag {
    @apply py-[1px] px-[8px] border badge-sm rounded-[8px] border-sub1 text-sub1
  }
  .border-sub2-tag {
    @apply py-[1px] px-[8px] border badge-sm rounded-[8px] border-sub2 text-sub2
  }
  .border-sub3-tag {
    @apply py-[1px] px-[8px] border badge-sm rounded-[8px] border-sub3 text-sub3
  }
  .border-sub5-tag {
    @apply py-[1px] px-[8px] border badge-sm rounded-[8px] border-sub5 text-sub5
  }
}
